.toolbar_button {
    color: white;
}

.toolbar_button:hover {
    text-decoration: underline;
}

.toolbar_right_align {
    margin-left: auto;
}

.active {
    text-decoration: underline;
}

.container_margin {
    margin-top: 150px;
}