.jobs_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.job_card {
    margin: 2.5px;
}

.no_jobs_text {
    margin: auto;
}

.backdrop {
    z-index: 1101;
}

.backdrop_progress {
    color: white;
}